:root {
    --grid-rows: 1;
    --grid-cols: 1;
    --pink-neon: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #d84979, 0 0 20px #d84979, 0 0 25px #d84979, 0 0 30px #d84979, 0 0 35px #d84979;
    --blue-neon: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #3c96eb, 0 0 20px #3c96eb, 0 0 25px #3c96eb, 0 0 30px #3c96eb, 0 0 35px #3c96eb;
    --white-neon: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff;
}

@font-face {
    font-family: neonTubes;
    src: url("../Fonts/NeonTubes.otf") format("opentype");
    box-sizing: border-box;
}

body{
    background: linear-gradient(-90deg, #000000,#1d185a );
    font-family: neonTubes;
}

h1 {
    text-align: center;
    color: #fff;
    text-shadow: var(--pink-neon);
}

p {
    text-align: center;
    color: #fff;
    text-shadow: var(--pink-neon);
}

#btns-container {
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 13vh;
    width: 90vw;
    margin-left: auto;
    margin-right: auto;
}

#color-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3vh;
    width: 500px;
    margin-right: -50px;
}

.color-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #fff;
    box-shadow: var(--white-neon);
    text-shadow: var(--white-neon);
    color: #fff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    transition: all .03s;
}

#grid-btns-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    height: 3vh;
    width: 500px;
    margin-left: -50px;
}

.grid-btns {
    display: flex;
    justify-content: center;
    align-items: center;
    border-color: #fff;
    box-shadow: var(--blue-neon);
    text-shadow: var(--blue-neon);
    color: #fff;
    border-radius: 50%;
    width: 85px;
    height: 85px;
    transition: all .03s;
}

#grid-container {
    display: grid;
    grid-template-rows: repeat(var(--grid-rows), 1fr);
    grid-template-columns: repeat(var(--grid-cols), 1fr);
    box-sizing: border-box;
    margin-top: 50px;
    width: 900px;
    height: 500px;
    margin-right: auto;
    margin-left: auto;
}

.grid-item {
    border: 1px solid #000;
    background-color: #fff;
}

button {
    position: relative;
    font-family: neonTubes;
    background-color: transparent;
    box-shadow: var(--pink-neon);
    text-shadow: var(--pink-neon);
    color: #fff;
    width: 90px;
    height: 50px;
    border-radius: 10px;
    margin-top: auto;
}

.playing {
    transform: scale(1.1);
    box-shadow: 0 0 5px #fff, 0 0 10px #fff, 0 0 15px #fff, 0 0 20px #fff, 0 0 25px #fff;
    border: 2px solid rgb(255,255,255);
}